awscli==1.16.107
botocore==1.12.97
certifi==2019.6.16
Click==7.0
Flask==1.0.3
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.3
MarkupSafe==1.1.1
pyasn1==0.4.5
rsa==3.4.2
s3transfer==0.2.0
Werkzeug==0.15.4
WTForms==2.2.1
