{% extends "layout.html" %}


{% block content %}



<table class="table table-responsive table-striped">
  <thead class="bg-dark-grey">
    <tr>

      <th scope="col">#</th>

      {% for col in orders.header %}
        <th scope="col"><form method="post" action="/"><input class="btn btn-link btn-sm" type="submit" name="{{ col }}" value="{{ col }}"></form></th>
      {% endfor %}

      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    {% for order in orders.data %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
      {% for entry in orders.header %}
        {% if entry == 'Description' %}
          <td><a href="javascript://" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Description" data-content="...">{{ order[entry] }}</a></td>
        {% elif entry == 'Start Date' or entry == 'Due Date' %}
          {% set date = order[entry] | int %}
          <td>{{ datetime.utcfromtimestamp(date/1000).strftime('%m/%d/%Y') }}</td>
        {% else %}
          <td nowrap class="table-fit">{{ order[entry] }}</td>
        {% endif %}
      {% endfor %}
        <td><button type="button" class="btn btn-secondary btn-lg" disabled>Assign</button></td>
        <td><a role="button" class="btn btn-secondary btn-lg" href="{{ url_for('pdf') }}">PDF</a></td>
      </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}
