{% extends 'layout.html' %}

{% block body %}

  <div id="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body row justify-content-center">
          <form class="form-inline" method="POST">
            <div class="form-group m-2">
              <input type="password" class="form-control" id="inputPin" name="pin" placeholder="Enter Pin">
            </div>
            <button type="submit" class="btn btn-secondary m-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-sm-4 m-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Work Orders App</h3>
          </div>
          <div class="card-body">
            <p class="card-text">
              An application that shows all current Work Orders moving through the manufacturing process and
              allows the user to see production pdfs as well as other Work Orders that contain the same Items.
            </p>

            <a role="button" href="{{ url_for( 'wo_login' ) }}" class="btn bg-red text-white">Go To Application</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 m-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Inventory App</h3>
          </div>
          <div class="card-body">
            <p class="card-text">
              An application that shows all current Items in inventory that are in need of replenishment.
            </p>

            <a role="button" href="{{ url_for( 'inventory' ) }}" class="btn bg-red text-white">Go To Application</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="col-sm-4 m-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Laser App</h3>
          </div>
          <div class="card-body">
            <p class="card-text">
              An application that shows all current Work Orders moving through the Laser Department and
              allows the user to see production pdfs as well as relevant steps to follow in fulfilling the order.
            </p>

            <a role="button" href="{{ url_for( 'laser' ) }}" class="btn bg-red text-white">Go To Application</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 m-2">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Brake Press App</h3>
          </div>
          <div class="card-body">
            <p class="card-text">
              An application that shows all current Work Orders moving through the Brake Press Department and
              allows the user to see production pdfs as well as relevant steps to follow in fulfilling the order.
            </p>

            <a role="button" href="{{ url_for( 'brake_press' ) }}" class="btn bg-red text-white">Go To Application</a>
          </div>
        </div>
      </div>
    </div>

  </div>
{% if pin == False %}
  <script>
    $('#modal').modal({
      show: true,
      backdrop: 'static'
    })
  </script>
{% endif %}
{% endblock %}
