{% extends 'layout.html' %}

{% block header %}
  <nav class="navbar navbar-expand-xl bg-red justify-content-between">
    <span>
      <a class="navbar-brand text-white" href="{{ url_for( 'inventory' ) }}">Just MFG Inventory</a>
    </span>
    <span>
      <a class="navbar-brand text-white" href="{{ url_for( 'app_router' ) }}">Exit Application</a>
    </span>
  </nav>
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
  <div class="row row-padding align-items-end justify-content-between">
    <div class="col-2">
        <div class="department-tag-container1 rounded-sm">
          <p class="h2 text-center font-weight-normal">Inventory</p>
        </div>
    </div>

    <div class="col-2">
        <div class="just-logo">
          <img src="{{ url_for('static', filename='just-manufacturing-logo.png') }}" class="img-fluid logo-dims" alt="Responsive image">
        </div>
    </div>
  </div>
{% endblock %}
