{% extends "wo_layout.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 form-center">
      <form action="{{ url_for( 'wo_login' ) }}" method=post>
        <div class="form-group form-title">
          <h3>{{ form.department.label }}</h3>
          <br>
          {{ form.department(class_="form-control") }}
          <br>
          {{ form.submit(class_="btn btn-secondary btn-lg") }}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
