.form-title {
  text-align: center;
}

.form-center {
  padding-top: 15%;
  padding-bottom: 15%;
}

.no-margins {
  padding-left: 0;
  padding-right: 0;
}

.table-head {
  position: sticky;
}

.bg-cream {
  background-color: #FBFAF6;
}

.bg-dark-grey {
  background-color: #333333;
  color: #F6F6F6;
}

.bg-red {
  background-color: #B3292A;
}

.text-white {
  color: #F6F6F6;
}

.row-padding {
  padding: 1%;
}

.department-tag-container1 {
  min-width: 200px;
  text-align: center;
  background-color: #333333;
  color: #F6F6F6;
}

.just-logo {
  margin-right: 2%;
  margin-bottom: 2%;
  height: auto;
  width: auto;
  min-width: 200px;
}

.logo-dims{
  height: 100px;
  width: 300px;
}
